BasedOnStyle: Google
ColumnLimit: 110
IndentWidth: 4
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 8
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
