.sconsign.dblite
config.log
.sconf_temp
.coverage*
_build.*
*.o
*.os
*.so
*.cfgc
*.pyc
*_wrap.cc
*Lib.py

# Built by sconsUtils
version.py
bin/

# Pytest
tests/.tests
pytest_session.txt
.cache/
.pytest_cache
.coverage

# VSCode
.vscode/
.env
*.code-workspace

# Ruff
.ruff_cache/
