[tool.isort]
profile = "black"
line_length = 110
known_first_party = ["lsst"]

[tool.black]
line-length = 110
target-version = ["py312"]

[tool.lsst_versions]
write_to = "python/lsst/cell_coadds/version.py"

[tool.coverage.report]
show_missing = true
exclude_lines = [
    "pragma: no cover",
    "raise AssertionError",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
]

[tool.ruff]
line-length = 110
target-version = "py312"
exclude = [
    "__init__.py",
]

[tool.ruff.lint]
ignore = [
    "D100",  # Missing docstring in public module
    "D205",  # 1 blank line required between summary line and description
    "N802",
    "N803",
    "N806",
    "N812",
    "N813",
    "N815",
    "N816",
]
select = [
    "D",  # pydocstyle
    "E",  # pycodestyle
    "F",  # pyflakes
    "N",  # pep8-naming
    "W",  # pycodestyle
    "UP",  # pyupgrade
    "C4",  # comprehensions
    "B",  # bugbear
    "SIM",  # simplify
    "I",  # isort
]
extend-select = [
    # TODO: Enable these after retiring the tests on GitHub Actions
    # "RUF100", # Warn about unused noqa
]

[tool.ruff.lint.isort]
known-first-party = ["lsst"]

[tool.ruff.lint.pycodestyle]
max-doc-length = 79

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.towncrier]
    package = "lsst.cell_coadds"
    package_dir = "python"
    filename = "doc/lsst.cell_coadds/CHANGES.rst"
    directory = "doc/changes"
    title_format = "lsst-cell_coadds {version} ({project_date})"
    issue_format = "`{issue} <https://rubinobs.atlassian.net/browse/{issue}>`_"


    [[tool.towncrier.type]]
        directory = "feature"
        name = "New Features"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "api"
        name = "API Changes"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "bugfix"
        name = "Bug Fixes"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "perf"
        name = "Performance Enhancement"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "misc"
        name = "Miscellaneous Changes of Minor Interest"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "removal"
        name = "An API Removal or Deprecation"
        showcontent = true
