name: test

on:
  push:
    branches:
      - main
  pull_request: null

jobs:
  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        pyver: ["3.13"]

    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.pyver }}
          channels: conda-forge,default
          channel-priority: strict
          show-channel-urls: true

      - name: Git LFS
        shell: bash -l {0}
        run: |
            cd ..
            pwd
            git clone https://github.com/lsst/testdata_ci_imsim
            ls
            # setup -j -r testdata_ci_imsim
            # cd -

      - name: Install DM stack and mypy with conda/mamba
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes

          conda install -q stackvana=0
          conda install -q mypy

      - name: Build and run tests
        id: build
        shell: bash -l {0}
        # We want coverage report uploaded even if build fails
        continue-on-error: true
        run: |
          setup -v -r .
          scons

      - name: Setup other packages
        shell: bash -l {0}
        run: |
            cd ..
            setup -k -r testdata_ci_imsim
            git clone https://github.com/lsst-dm/ci_builder
            ## cd ci_builder
            setup -k -r ci_builder

            echo $TESTDATA_CI_IMSIM_DIR

            git clone https://github.com/lsst/ci_imsim
            # cd ci_imsim
            setup -k -r ci_imsim
            ci_imsim/bin/rewrite.sh
            ci_imsim/bin/ci_imsim_run.py
            cd -

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v4
        with:
          files: tests/.tests/pytest-cell_coadds.xml-cov-cell_coadds.xml
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          files: tests/.tests/pytest-cell_coadds.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Check if the build failed
        if: "steps.build.outcome == 'failure'"
        run: exit 1
